<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Microwlights | Admin Template⚡</title>
    <!-- 📌Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- 📌General CSS -->
    <link rel="stylesheet" href="assets/css/microlight.css">
    <!-- 📌Favicon -->
    <link rel="shortcut icon" href="/assets/img/brand/icon-bar.svg" type="image/x-icon">
    <!-- 📌Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <!-- 📌Banner Section -->
    <section class="banner">
        <div class="container">
            <a href="http://" class="text-decoration-none">
                <h5>We’ve just released the Microwlights UI’s feedback hub! A better way to submit your feedback and
                    ideas!🏆
                </h5>
            </a>
        </div>
    </section>
    <!-- 📌Navbar Section -->
    <header class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/img/brand/brand.svg" alt="logo"></a>
            <div class="form-check form-switch mode-switch order-lg-1">
                <div class="line"></div>
            </div>
            <div class="form-check form-switch mode-switch order-lg-2 me-lg-4 ms-auto" data-bs-toggle="mode">
                <a href="https://github.com/designwitharifin/microlight" target="_blank">
                    <i class='bx bxl-github bx-sm pe-3'></i>
                </a>
            </div>

            <a class="btn btn-outline-secondary fs-sm order-lg-3 d-none d-lg-inline-flex" href="#" target="_blank"><i
                    class="ai-cart fs-xl me-2 ms-n1"></i>Live preview</a>
            <button class="navbar-toggler ms-sm-3 border-0 shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav"><i class='bx bx-menu'></i></button>
            <nav class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navbar-nav-scroll ms-auto">
                    <li class="nav-item pe-5"><a class="nav-link" href="components/typography.html">Study case</a></li>
                    <li class="nav-item pe-5"><a class="nav-link" href="docs/getting-started.html">Documentation</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="docs/getting-started.html">Pro version</a></li>
                </ul>
                <div class="d-lg-none mt-n3">
                    <a class="btn btn-outline-secondary d-block mb-1" href="#" target="_blank">Live
                        preview</a>
                </div>
            </nav>
        </div>
    </header>



    <!-- 📌Bootstrap JS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- 📌General JS -->
    <script src="assets/js/"></script>
</body>

</html>